#/etc/apache2/sites-available/your_domain.conf

<VirtualHost *:80>
    <Directory /var/www/wordpress/>
        AllowOverride All
    </Directory>
    ServerName testdomain
    ServerAlias www.testdomain 
    ServerAdmin webmaster@testdomain
    DocumentRoot /var/www/testdomain
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>